<div class="container-fluid">
<div class="row" >
<div class="col">
  <div class="row">
    <div class="col"><h4 class="text-primary">Basic Data</h4></div>
  </div>
  <div class="row">
    <div class="col" >Date of Birth : </div>
    <div class="col"><input type="date" value="" (change)="calculateAge()" [(ngModel)]="basicdata.dateOfBirth"  /> </div>
  </div>

    <div class="row">
        <div class="col">Your Age:</div>
        <div class="col"><input type="number" readonly value="{{basicdata.age}}"   /> </div>
    </div>

    <div class="row">
        <div class="col">Retirement Age:</div>
        <div class="col"><input type="number" [(ngModel)]="basicdata.retirementAge" /> </div>
    </div>

    <div class="row">
        <div class="col">Retirement Date:</div>
        <div class="col"><input type="date" readonly value="{{basicdata.retirementDate}}"  /> </div>
    </div>

    <div class="row">
        <div class="col">Years to Retirement:</div>
        <div class="col"><input type="number" readonly value="{{basicdata.yearsToRetirement}}"  /> </div>
    </div>

    <div class="row">
        <div class="col">Months to Retirement:</div>
        <div class="col"><input type="number" readonly value="{{basicdata.monthsToRetirement}}"  /> </div>
    </div>
  </div>

</div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h4 class="text-primary">Retirement Information</h4>
        </div>
      </div>

      <div class="row">
        <div class="col"><h5>Other Expenses</h5> <span (click)="addExpense()">Add</span> </div>
      </div>


      <table class="table">
        <thead>
        <tr>
          <th scope="col">Expense</th>
          <th scope="col">Monthly</th>
          <th scope="col">Annual</th>
          <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let value of basicdata.expenses;let idx = index">
          <td ><input type="text" [(ngModel)]="value.expense"/> </td>
          <td><input type="number"  [(ngModel)]="value.monthlyAmount" (change)="updateAnnual(value)"  /> </td>
          <td><input type="number" [(ngModel)]="value.annualAmount" (change)="updateMonthly(value)"/> </td>
          <td><span (click)="removeExpense(idx)">Remove</span></td>
        </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="1"></td>
            <td colspan="1">Total : </td>
            <td colspan="1">{{basicdata.totalExpensePostRetirement()}}</td>
            <td colspan="1">{{basicdata.calculateRetirementAmountSimpleOption()}}</td>
          </tr>
        </tfoot>
      </table>





    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h4 class="text-primary">Existing Investment Plan</h4>
        </div>
      </div>

      <div class="row">
        <div class="col"><h5>Investment</h5> <span (click)="addInvestment()">Add</span> </div>
      </div>


      <table class="table">
        <thead>
        <tr>
          <th scope="col">Item</th>
          <th scope="col">Initial Amount</th>
          <th scope="col">SIP Amount</th>
          <th scope="col">ROI</th>
          <th scope="col">Term (Years)</th>
          <th scope="col">Compounding Frequency</th>
          <th scope="col">Step Up Amount</th>
          <th scope="col">Total</th>
          <th scope="col">Operation</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let value of basicdata.investment;let idx = index">
          <td ><input type="text" [(ngModel)]="value.item"/> </td>
          <td><input type="number" [(ngModel)]="value.initialAmount" (change)="calculateTotal(value)"  /> </td>
          <td><input type="number" [(ngModel)]="value.sip"  (change)="calculateTotal(value)"  /> </td>
          <td><input type="number" [(ngModel)]="value.roi"  (change)="calculateTotal(value)"  /> </td>
          <td><input type="number" [(ngModel)]="value.term"  (change)="calculateTotal(value)"  /> </td>
          <td><select [(ngModel)]="value.compunding"  (change)="calculateTotal(value)">
            <option value="1">Monthly</option>
            <option value="3">Quarterly</option>
            <option value="12">Annually</option>
          </select>


          </td>
          <td><input type="number" [(ngModel)]="value.stepUp"  (change)="calculateTotal(value)"  /> </td>
          <td><input type="number" [(ngModel)]="value.total" step=".01" readonly /> </td>
          <td><span (click)="removeInvestment(idx)">Remove</span></td>
        </tr>
        </tbody>
        <!--<tfoot>-->
        <!--<tr>-->
          <!--<td colspan="1"></td>-->
          <!--<td colspan="1">Total : </td>-->
          <!--<td colspan="1">{{basicdata.totalExpensePostRetirement()}}</td>-->
          <!--<td colspan="1">{{basicdata.calculateRetirementAmountSimpleOption()}}</td>-->
        <!--</tr>-->
        <!--</tfoot>-->
      </table>





    </div>
  </div>


</div>
